:root {
    --light-blue: #396dff;
    --light-orange: #f08036;
    --dark-blue: #2c55c4; 
    --dark-orange: #a75a27;
    --white: #FFF; 
}

.create-account {
    font-size: 1.2vw;
    color: var(--white);
    /*padding: 10px;*/
    height: 100vh;
    background-image: url(../resources/images/Backgrounds/side-menu-background.png);
    background-attachment: fixed;
    max-width: 50%;
    margin: auto;
}

.create-account-text {
    color: var(--white);
    font-size: 2.6vw;
    padding-top: 1vw;
    text-align: center;
}

#create-account-forms {
    display: grid;
    padding: 1.5vw 8vw;
    padding-top: 8vw;
    gap: 1.8vw 1.4vw;
    color: var(--white);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#username {
    margin-top: 60px;
}

#username, #email, #password, #confirm-password {
    display: flex;
    background-image: url(../resources/images/Backgrounds/side-menu-background.png);
    background-color: transparent;
    font-family: inherit;
    border: 0.22vw solid var(--light-blue);
    color: var(--white);
    font-size: 1vw;
    padding: 0.4vw;
    width: 13vw;
    margin: auto;
}

#submit-button {
    color: var(--white);
    background-color: var(--light-orange);
    font-family: inherit;
    font-size: 1.2vw;
    cursor: pointer;
    border: 0;
    padding: 0.4vw 0.9vw;
    /*max-width: 14.78rem;*/
    margin: auto;
    grid-column-start: 1;
    grid-column-end: 3;
}

@media only screen and (max-width: 400px) {
    
    .create-account {
        font-size: 4vw;
        text-align: center;
        height: 100vh;
        max-width: 100%;
        background-image: none;
        margin-right: 4vw;
    }
    .create-account-text {
        font-size: 12vw;
        margin-top: -20vw;
        margin-bottom: -6vw;
    }
    #create-account-forms {
        margin-top: 8vw;
        padding-top: 3vw;
    }
    #username, #email, #password, #confirm-password {
        margin-top: 1vw;
        margin-bottom: 4vw;
        border: 1vw solid var(--light-blue);
        font-size: 5vw;
        padding: 2vw;
        width: 50vw;
    }
    #submit-button {
        font-size: 6vw;
        padding: 2vw 3vw;
        margin-top: 8vw;
        display: grid;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}