:root {
    --white: #FFF;
    --black: #0000;
    --grey: #4a4a4a; 
    --orange: #e67a23;
    --blue: #158c87; 
    --dark-green: #12960b; 
    --red: #e42328; 
    --light-green: #42c329; 
}

body {
    background-image: url(../resources/images/exhibition-1863344_1920.jpg);
    background-size: cover;
    background-color: var(--white);
    background-position-y: -30%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
