body {
    background-image: url(../resources/images/billetto-editorial-334686.jpg);
    background-size: cover;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* main */

#page-text {
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

.teachers-researchers {
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

.for-kids, .for-teachers, .researchers {
    width: 46vw;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 2vw;
}
.kids-title, .teachers-title, .researchers-title {
    text-align: center;
    padding-bottom: 1.5vw;
}

@media only screen and (max-width: 520px) {
    #page-text, .researchers {
        height: 49vw;
    }
}

@media only screen and (max-width: 400px) {
    body {
        background-position-x: 58%;
    }

    #page-text {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .kids-title, .teachers-title, .researchers-title {
        padding-bottom: 3vw;
    }

    .for-kids, .for-teachers, .researchers {
        width: 92vw;
        padding: 5vw;
        margin-bottom: 5vw;
    }
    .researchers {
        height: 86vw;
    }
}