:root {
    --white: #FFF;
    --black: #0000;
    --grey: #4a4a4a; 
    --orange: #e67a23;
    --blue: #158c87; 
    --dark-green: #12960b; 
    --red: #e42328; 
    --light-green: #42c329; 
}

body {
    background-image: url(../resources/images/billetto-editorial-334686.jpg);
    background-size: cover;
    background-color: var(--white);
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* main */

#page-text {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    height: 46.5vw;
}

.teachers-researchers {
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

.for-kids {
    width: 46vw;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2vw;
}
.kids-title, .teachers-title, .researchers-title {
    text-align: center;
    padding-bottom: 1.5vw;
}

.for-teachers {
    width: 46vw;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2vw;
}

.researchers {
    width: 46vw;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2vw;
    height: 46.5vw;
}

@media only screen and (max-width: 520px) {
    #page-text {
        height: 49vw;
    }
    .researchers {
        height: 49vw;
    }
}

@media only screen and (max-width: 400px) {
    body {
        background-position-x: 58%;
    }

    #page-text {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .for-kids {
        width: 92vw;
        padding: 5vw;
        margin-bottom: 4vw;
    }
    .kids-title {
        padding-bottom: 3vw;
    }
    
    .for-teachers {
        width: 92vw;
        padding: 5vw;
        margin-bottom: 4vw;
    }
    .teachers-title {
        padding-bottom: 3vw;
    }
    
    .researchers {
        width: 92vw;
        padding: 5vw;
        height: 83vw;
        margin-bottom: 5vw;
    }
    .researchers-title {
        padding-bottom: 3vw;
    }
}