body {
    background-image: url(../resources/images/billetto-editorial-334686.jpg);
    background-size: 100vw;
    background-position-y: 70%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}