:root {
    --light-blue: #396dff;
    --light-orange: #f08036;
    --dark-blue: #2c55c4; 
    --dark-orange: #a75a27;
    --white: #FFF; 
}

.sell-game {
    font-size: 1.2vw;
    color: var(--white);
    /*padding: 10px;*/
    background-image: url(../resources/images/Backgrounds/side-menu-background.png);
    background-attachment: fixed;
    height: 100%;
    max-width: 50%;
    margin: auto;
}

/*.sell-game-content {
    display: grid;
    gap: 1.4rem;
}*/

.sell-game-text {
    font-size: 2.6vw;
    text-align: center;
    padding-top: 1vw;
    color: var(--light-orange)
}

.sell-game-forms {
    display: grid;
    padding: 4vw 7vw;
    gap: 1.2vw;
}

/* Forms */

#upload-game-image {
    background-image: url(../resources/images/Backgrounds/side-menu-background.png);
    font-family: inherit;
    border: 0.22vw solid var(--light-orange);
    color: var(--white);
    cursor: pointer;
    font-size: 1vw;
    padding: 8.5vw;
    margin-top: 0.2vw;
    width: 100%;
}

#title {
    display: flex;
    background-image: url(../resources/images/Backgrounds/side-menu-background.png);
    background-color: transparent;
    font-family: inherit;
    border: 0.22vw solid var(--light-blue);
    color: var(--white);
    font-size: 1vw;
    padding: 0.4vw;
    margin-top: 0.2vw;
    width: 13vw;
}

#price {
    display: flex;
    background-image: url(../resources/images/Backgrounds/side-menu-background.png);
    background-color: transparent;
    font-family: inherit;
    border: 0.22vw solid var(--light-blue);
    color: var(--white);
    font-size: 1vw;
    padding: 0.4vw;
    margin-top: 0.2vw;
    width: 4.5vw;
}
/* Hide_price_arrows Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Hide_price_arrows Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#description {
    background-image: url(../resources/images/Backgrounds/side-menu-background.png);
    background-color: transparent;
    font-family: inherit;
    border: 0.22vw solid var(--light-blue);
    color: var(--white);
    font-size: 1vw;
    padding: 0.4vw;
    margin-top: 0.2vw;
    width: 100%;
    padding-bottom: 11vw;
}

#tags {
    background-image: url(../resources/images/Backgrounds/side-menu-background.png);
    background-color: transparent;
    font-family: inherit;
    border: 0.22vw solid var(--light-blue);
    color: var(--white);
    font-size: 1vw;
    padding: 0.4vw;
    margin-top: 0.2vw;
    width: 100%;
}

#submit-button {
    color: var(--white);
    background-color: var(--light-orange);
    font-family: inherit;
    font-size: 1.2vw;
    cursor: pointer;
    border: 0;
    padding: 0.7vw 0.8vw;
    /*max-width: 14.78rem;*/
    margin: auto;
}

@media only screen and (max-width: 400px) {
    #gamehub-logo-mobile {
        margin-left: 23vw;
    }
    .sell-game {
        font-size: 4vw;
        text-align: center;
        height: 100vh;
        max-width: 100%;
        background-image: none;
        margin-right: 4vw;
    }
    .sell-game-text {
        font-size: 10vw;
        margin-top: -20vw;
        margin-bottom: -4vw;
    }
    .sell-game-forms {
        margin-top: 8vw;
        padding-top: 3vw;
        gap: 4vw;
    }
    #upload-game-image {
        border: 1vw solid var(--light-orange);
        font-size: 4vw;
        padding: 20vw;
        margin-top: 2vw;
    }
    #title {
        border: 1vw solid var(--light-blue);
        font-size: 6vw;
        padding: 2vw;
        margin-top: 2vw;
        width: 100%;
    }
    #price {
        border: 1vw solid var(--light-blue);
        font-size: 6vw;
        padding: 2vw;
        margin-top: 2vw;
        width: /*100%*/ 30vw;
        margin-left: 19vw;
    }
    #description {
        border: 1vw solid var(--light-blue);
        font-size: 6vw;
        margin-top: 2vw;
        padding-bottom: 20vw;
    }
    #tags {
        border: 1vw solid var(--light-blue);
        font-size: 6vw;
        padding: 2vw;
        margin-top: 2vw;
        width: 100%;
    }
    #submit-button {
        margin-top: 6vw;
        font-size: 5vw;
        padding: 3vw 4vw;
        width: 40vw;
    }
}