:root {
    --white: #FFF;
    --black: #0000;
    --grey: #4a4a4a; 
    --orange: #e67a23;
    --blue: #158c87; 
    --dark-green: #12960b; 
    --red: #e42328; 
    --light-green: #42c329; 
}

body {
    background-image: url(../resources/images/library-1132573_1920.jpg);
    background-size: cover;
    background-color: var(--white);
    background-position-y: 60%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.page-text-mobile {
    display: none;
}

.page-text {
    display: flex;
    justify-content: space-evenly;
    gap: 3vw;
}

#text-container-left {
    width: 42vw;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2vw;
}

#text-container-right {
    width: 42vw;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2vw;
}

h2 {
    text-align: center;
}

.location-title, .hours-title, .food-title, .admission-title, .accessibility-title, .shop-title {
    margin-bottom: 0.6vw;
}
.hours-title, .food-title, .accessibility-title, .shop-title {
    margin-top: 2vw;
}

.span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7 {
    float: right;
    text-decoration:inherit;
}

.entrance-fee {
    text-decoration: underline;
    text-decoration-thickness: 0.2vw;
}

.hours {
    width: 28vw;
    margin: auto;
}

.hours-text {
    text-decoration: underline;
    text-decoration-thickness: 0.2vw;
    line-height: 2vw;
}

@media only screen and (max-width: 700px) {
    .page-text {
        gap: 2.5vw;
    }
    #text-container-left {
        width: 50vw;
        padding: 5vw;
    }
    #text-container-right {
        width: 50vw;
        padding: 5vw;
    }

    h2 {
        font-size: 2.8vw;
    }
    p {
        font-size: 1.8vw;
    }
}

@media only screen and (max-width: 400px) {
    body {
        background-position-x: 45%;
        /*background-size: 90rem;*/
    }

    .page-text {
        display: none;
    }

    .page-text-mobile {
        display: flex;
        flex-direction: column;
        margin-bottom: 2vw;
        gap: 6vw;
    }
    #text-container-mobile {
        background-color: rgba(255, 255, 255, 0.5);
        width: 92vw;
        padding: 5vw;
        margin: auto;
    }

    .location-title-mobile, .hours-title-mobile, .food-title-mobile, .admission-title-mobile, .accessibility-title-mobile, .shop-title-mobile {
        margin-bottom: 1.5vw;
    }
    .hours-title-mobile, .food-title-mobile, .accessibility-title-mobile, .shop-title-mobile, .admission-title-mobile {
        margin-top: 5vw;
    }

    
    .entrance-fee-mobile {
        text-decoration: underline;
        text-decoration-thickness: 0.6vw;
    }
    
    .hours-mobile {
        width: 83vw;
    }
    .hours-text-mobile {
        text-decoration: underline;
        text-decoration-thickness: 0.6vw;
        line-height: 7.5vw;
    }

    h1 {
        font-size: 10vw;
    }
    h2 {
        font-size: 6vw;
    }
    p {
        font-size: 5vw;
    }
}